@*@model FeedFetcher.Data.Sql.ServiceTypes.GetArticlesResult[]*@

<div id="reload">
    <a href=".">New articles available</a>
</div>
<header>
    <h1>
        Full Hacker News
        <img src="../../Images/loader.gif" width="16" height="16" class="loader" style="display: none;">
    </h1>
</header>
<div role="main" class="main">
    <ul class="toc" id="toc">
        @{ int counter = 1; }
        @*@foreach (var item in Model)
        {
            <li><a href="#article-@counter">@item.ArticleTitle</a></li>
            counter += 1;
        }*@
    </ul>

    @{ counter = 1;
        string utcStringFormat = @"{0:yyyy'-'MM'-'dd'T'HH':'mm':'ss'.'fff'Z'}";
    }
    @*@foreach (var item in Model)
    {
        <article id="article-@counter" class="hn-article" data-index="@counter">
            <h2>
                <a href="@item.ArticleLink">@item.ArticleTitle</a>
            </h2>
            <p class="meta">
                <a href="@item.ArticleCommentsLink">Comments</a> | Fetched:
                <time datetime="@string.Format(@utcStringFormat, @item.TimeStamp.Value)">
                    @string.Format(@utcStringFormat, @item.TimeStamp.Value)
                </time>
            </p>
            @Html.Raw(item.ArticleContent)
        </article><hr />
        counter += 1;
    }*@
</div>
<footer>
    <div>
        <h2>About this site</h2>
        <p>
            This page displays articles from Hacker News in one single page for offline reading.
            <br />
            It was inspired by Maurice Svay's <a href="http://www.fullhn.com/">FullHackerNews</a>.
        </p>
    </div>
</footer>
<nav class="toolbar">
    <a href="#toc" id="index">Index</a>
    <a href="#" id="prev">Prev</a>
    <a href="#" id="next">Next</a>
</nav>
@*@section scripts {
    <script type="text/javascript">
        App.init();
    </script>
}*@