@model HackyNewsDomain.Models.Feed
<h2>Welcome to ASP.NET MVC !</h2>


@{var maybeItems = @Model.GetItems()}
@if(maybeItems.Success()) {
    foreach (var result in maybeItems) {
		if (result.Success()) {
           <div class="meta">Fetched</div>
           <h4>@result.GetResult().item.title</h4>
		   <div class="content">@result.GetResult().content</div>
		} else {
            <div class="meta">@result.GetError().errorMessage</div>
            <h4>@result.GetError().item.title</h4>
        }
    }
}