@model IEnumerable<HackyNewsDomain.Dto.FeedItemWithContentDto>
<h2>Welcome to ASP.NET MVC !</h2>


@foreach (var result in Model)
{
    if (string.IsNullOrWhiteSpace(result.error))
    {
        <article class="fetched">
            <h4>@result.title</h4>
            <h5>@result.link</h5>
            <div class="content">@Html.Raw(@result.content)</div>
        </article>
    }
    else
    {
        <article class="original">
            <h4>@result.title</h4>
            <h5>@result.link</h5>
            <div class="error">@result.error</div>
        </article>
    }
}
